:host {
  display: block;
}

.app-car-categories-page {
  padding-top: 40px;

  &__main {
  }

  &__go-back {
    font-weight: 300;
    font-size: 14px;
    cursor: pointer;
  }

  &__cars-list-grid {
    margin-top: 100px;
  }
}
