:host {
  display: block;
}

.app-sub-category {
  padding-left: 30px;

  &__brand-name {
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-height: 0px;

    &--active {
      max-height: 300px;
    }
  }
}
