@import '../../../../styles/mixins';

:host {
  display: flex;
}

.app-content-container {
  position: relative;
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;

  @include respond-to('sm-phone') {
    padding: 30px 15px;
  }

  @include respond-to('md-desktop') {
    padding: 30px;
  }
}
