:host {
  display: block;
}

.app-landing-page {
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__article {
    padding: 10px 0;
  }

  .article-paragraph {
    font-size: 28px;
  }
}
