:host {
  display: inline-block;
}

.app-logo {
  cursor: pointer;

  &__svg {
    &--black {
      path {
        fill: black;
      }
    }
    &--white {
      path {
        fill: white;
      }
    }
  }
}
