:host {
  display: inline-block;
}

.app-main-navigation {
  width: 24px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;

  &:hover {
    .app-main-navigation__bar {
      width: 100%;
    }
  }

  &__bar {
    height: 2px;
    width: 100%;
    transition: 0.4s;

    &--white {
      background-color: white;
    }

    &--black {
      background-color: black;
    }
    &:nth-of-type(2) {
      width: 16px;
    }
  }
}
