:host {
  display: block;
}

.app-recent-added-cars {
  padding: 0 40px 0 30px;

  &__heading {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 40px;
  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}
